@font-face {
  font-family: "Prune";
  src: url("/fonts/Greenhouse-Prune.woff2") format("woff2"),
    url("/fonts/Greenhouse-Prune.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
